In [67]:
import numpy as np
import pandas as pd

In [68]:
books = pd.read_csv('Books.csv', sep=",", on_bad_lines='skip', encoding='latin-1')

C:\Users\shiva\AppData\Local\Temp\ipykernel_64628\3864644893.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv', sep=",", on_bad_lines='skip', encoding='latin-1')

In [69]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [70]:
books.iloc[10]['Image-URL-L']

'http://images.amazon.com/images/P/0771074670.01.LZZZZZZZ.jpg'

In [71]:
books.shape

(271360, 8)

In [72]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [73]:
books = books[['ISBN','Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher','Image-URL-L']]

In [74]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [75]:
# Lets rename columns name
books.rename(columns={"Book-Title":'title',
                      'Book-Author':'author',
                     "Year-Of-Publication":'year',
                     "Publisher":"publisher",
                     "Image-URL-L":"image_url"},inplace=True)

In [76]:
books.head()

,ISBN,title,author,year,publisher,image_url
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [77]:
# Now load the second dataframe

users = pd.read_csv('Users.csv', sep=",", on_bad_lines='skip', encoding='latin-1')

In [78]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [79]:
users.shape

(278858, 3)

In [80]:
# Lets rename columns name
users.rename(columns={"User-ID":'user_id',
                      'Location':'location',
                     "Age":'age'},inplace=True)

In [81]:
# Now load the third dataframe

ratings = pd.read_csv('Ratings.csv', sep=",", on_bad_lines='skip', encoding='latin-1')

In [82]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [83]:
ratings.shape

(1149780, 3)

In [84]:
# Lets remane some wierd columns name
ratings.rename(columns={"User-ID":'user_id',
                      'Book-Rating':'rating'},inplace=True)

ratings.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [85]:
print(books.shape, users.shape, ratings.shape, sep='\n')

(271360, 6)
(278858, 3)
(1149780, 3)

In [86]:
ratings['user_id'].value_counts()

user_id
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: count, Length: 105283, dtype: int64

In [87]:
# Lets store users who had at least rated more than 200 books
x = ratings['user_id'].value_counts() > 200

In [88]:
x

user_id
11676      True
198711     True
153662     True
98391      True
35859      True
          ...
116180    False
116166    False
116154    False
116137    False
276723    False
Name: count, Length: 105283, dtype: bool

In [89]:
x[x].shape

(899,)

In [90]:
y=x[x].index
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='user_id', length=899)

In [91]:
ratings = ratings[ratings['user_id'].isin(y)]

In [92]:
ratings.head()

      user_id        ISBN  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

In [93]:
# Now join ratings with books

ratings_with_books = ratings.merge(books, on='ISBN')

ratings_with_books.head()

,user_id,ISBN,rating,title,author,year,publisher,image_url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...
2,277427,006092988X,0,A Tree Grows in Brooklyn,Betty Smith,1998,Perennial,http://images.amazon.com/images/P/006092988X.0...
3,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...
4,277427,014029628X,0,Girl in Hyacinth Blue,Susan Vreeland,2000,Penguin Books,http://images.amazon.com/images/P/014029628X.0...

In [94]:
number_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [95]:
number_rating.head()

                                               title  rating
0   Earth Prayers From around the World: 365 Pray...       3
1   Final Fantasy Anthology: Official Strategy Gu...       3
2   Flight of Fancy: American Heiresses (Zebra Ba...       1
3   Little Comic Shop of Horrors (Give Yourself G...       4
4                                       Mystery Mile       1

In [96]:
number_rating.rename(columns={'rating':'num_of_rating'},inplace=True)

In [97]:
number_rating.head()

                                               title  num_of_rating
0   Earth Prayers From around the World: 365 Pray...              3
1   Final Fantasy Anthology: Official Strategy Gu...              3
2   Flight of Fancy: American Heiresses (Zebra Ba...              1
3   Little Comic Shop of Horrors (Give Yourself G...              4
4                                       Mystery Mile              1

In [98]:
final_rating = ratings_with_books.merge(number_rating, on='title')

In [99]:
final_rating.head()

,user_id,ISBN,rating,title,author,year,publisher,image_url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...,1
2,277427,006092988X,0,A Tree Grows in Brooklyn,Betty Smith,1998,Perennial,http://images.amazon.com/images/P/006092988X.0...,31
3,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,29
4,277427,014029628X,0,Girl in Hyacinth Blue,Susan Vreeland,2000,Penguin Books,http://images.amazon.com/images/P/014029628X.0...,91

In [100]:
# Lets take those books which got at least 50 rating of user

final_rating = final_rating[final_rating['num_of_rating'] >= 50]

In [101]:
final_rating.head()

,user_id,ISBN,rating,title,author,year,publisher,image_url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,277427,014029628X,0,Girl in Hyacinth Blue,Susan Vreeland,2000,Penguin Books,http://images.amazon.com/images/P/014029628X.0...,91
6,277427,014100018X,0,Chocolat,Joanne Harris,2000,Penguin Books,http://images.amazon.com/images/P/014100018X.0...,59
8,277427,031298328X,0,Full Tilt (Janet Evanovich's Full Series),Janet Evanovich,2003,St. Martin's Paperbacks,http://images.amazon.com/images/P/031298328X.0...,79
32,277427,080410753X,0,The Kitchen God's Wife,Amy Tan,1992,Ivy Books,http://images.amazon.com/images/P/080410753X.0...,101

In [102]:
# lets drop the duplicates
final_rating.drop_duplicates(['user_id','title'],inplace=True)

In [103]:
final_rating.isnull().sum()

user_id          0
ISBN             0
rating           0
title            0
author           0
year             0
publisher        0
image_url        0
num_of_rating    0
dtype: int64

In [104]:
# Lets create a pivot table
book_pivot = final_rating.pivot_table(columns='user_id', index='title', values= 'rating')
book_pivot

user_id,254,2276,2766,2977,3363,4017,6242,6251,6323,6543,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
"A Child Called \It\"": One Child's Courage to Survive""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Fine Balance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
A Painted House,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
A Patchwork Planet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
A Widow for One Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
The Tale of the Body Thief (Vampire Chronicles (Paperback)),NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Turtle Moon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
"Welcome to the World, Baby Girl!",NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What Looks Like Crazy On An Ordinary Day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What to Expect When You're Expecting (Revised Edition),NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
book_pivot.shape

(70, 810)

In [106]:
book_pivot.fillna(0, inplace=True)
book_pivot

user_id,254,2276,2766,2977,3363,4017,6242,6251,6323,6543,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
"A Child Called \It\"": One Child's Courage to Survive""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Fine Balance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Painted House,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Patchwork Planet,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Widow for One Year,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
The Tale of the Body Thief (Vampire Chronicles (Paperback)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Turtle Moon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Welcome to the World, Baby Girl!",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
What Looks Like Crazy On An Ordinary Day,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
What to Expect When You're Expecting (Revised Edition),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [107]:
book_pivot.shape

(70, 810)

In [108]:
from scipy.sparse import csr_matrix

In [109]:
book_sparse = csr_matrix(book_pivot.values)
book_sparse

<70x810 sparse matrix of type '<class 'numpy.float64'>'
	with 1481 stored elements in Compressed Sparse Row format>

In [110]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [111]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(metric='cosine', algorithm= 'brute')

In [112]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute', metric='cosine')

In [113]:
book_pivot.iloc[69,:]  # Getting the distance and suggestion for the book from user

distance, suggestion = model.kneighbors(book_pivot.iloc[69,:].values.reshape(1,-1), n_neighbors=6 )

In [114]:
distance

array([[2.22044605e-16, 8.14266984e-01, 8.21358818e-01, 8.32360373e-01,
        8.63798408e-01, 8.69242940e-01]])

In [115]:
suggestion

array([[69, 16, 15, 42, 58, 35]], dtype=int64)

In [116]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['What to Expect When You're Expecting (Revised Edition)',
       'Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))',
       'Chicken Soup for the Soul (Chicken Soup for the Soul)', 'Rising Tides',
       'The Lost Boy: A Foster Child's Search for the Love of a Family',
       'Men Are from Mars, Women Are from Venus: A Practical Guide for Improving Communication and Getting What You Want in Your Relationships'],
      dtype='object', name='title')

In [117]:
#keeping books name
book_title = book_pivot.index

In [118]:
book_title

Index(['A Child Called \It\": One Child's Courage to Survive"',
       'A Fine Balance', 'A Painted House', 'A Patchwork Planet',
       'A Widow for One Year', 'All I Really Need to Know',
       'Angela's Ashes: A Memoir',
       'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
       'At Home in Mitford (The Mitford Years)', 'Atonement : A Novel',
       'Bag of Bones', 'Breath, Eyes, Memory', 'Breathing Lessons',
       'Bridget Jones's Diary', 'Call of the Wild',
       'Chicken Soup for the Soul (Chicken Soup for the Soul)',
       'Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))',
       'Chocolat', 'Cry Wolf', 'Degree of Guilt', 'Dreamcatcher',
       'Face the Fire (Three Sisters Island Trilogy)', 'Fingersmith',
       'Flesh and Blood',
       'Forever... : A Novel of Good and Evil, Love and Hope',
       'Full Tilt (Janet Evanovich's Full Series)', 'Girl in Hyacinth Blue',
       'Harry Potter and the Order of the Phoenix (Book 5)',
       'Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))',
       'Hideaway', 'High Fidelity', 'Hornet's Nest', 'How to Be Good',
       'Key of Light (Key Trilogy (Paperback))',
       'Like Water for Chocolate : A Novel in Monthly Installments with Recipes, Romances, and Home Remedies',
       'Men Are from Mars, Women Are from Venus: A Practical Guide for Improving Communication and Getting What You Want in Your Relationships',
       'Morality for Beautiful Girls (No.1 Ladies Detective Agency)',
       'Night Sins', 'One True Thing',
       'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times',
       'Purity in Death', 'Red Storm Rising', 'Rising Tides',
       'STONES FROM THE RIVER', 'Snow Falling on Cedars',
       'Tears of the Giraffe (No.1 Ladies Detective Agency)',
       'That Camden Summer', 'The Bridges of Madison County',
       'The Celestine Prophecy (Celestine Prophecy)',
       'The Clinic (Alex Delaware Novels (Paperback))',
       'The Color of Water: A Black Man's Tribute to His White Mother',
       'The Crimson Petal and the White', 'The Devil Wears Prada : A Novel',
       'The Firm', 'The Girls' Guide to Hunting and Fishing',
       'The Hundred Secret Senses', 'The Kiss', 'The Kitchen God's Wife',
       'The Lost Boy: A Foster Child's Search for the Love of a Family',
       'The Lost World',
       'The No. 1 Ladies' Detective Agency (Today Show Book Club #8)',
       'The Perfect Storm : A True Story of Men Against the Sea',
       'The Rainmaker', 'The Reef', 'The Stone Diaries',
       'The Tale of the Body Thief (Vampire Chronicles (Paperback))',
       'Turtle Moon', 'Welcome to the World, Baby Girl!',
       'What Looks Like Crazy On An Ordinary Day',
       'What to Expect When You're Expecting (Revised Edition)'],
      dtype='object', name='title')

In [119]:
book_title[4]

'A Widow for One Year'

In [120]:
final_rating.head()

,user_id,ISBN,rating,title,author,year,publisher,image_url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,277427,014029628X,0,Girl in Hyacinth Blue,Susan Vreeland,2000,Penguin Books,http://images.amazon.com/images/P/014029628X.0...,91
6,277427,014100018X,0,Chocolat,Joanne Harris,2000,Penguin Books,http://images.amazon.com/images/P/014100018X.0...,59
8,277427,031298328X,0,Full Tilt (Janet Evanovich's Full Series),Janet Evanovich,2003,St. Martin's Paperbacks,http://images.amazon.com/images/P/031298328X.0...,79
32,277427,080410753X,0,The Kitchen God's Wife,Amy Tan,1992,Ivy Books,http://images.amazon.com/images/P/080410753X.0...,101

In [121]:
book_title = []
for book_id in suggestion:
    book_title.append(book_pivot.index[book_id])

In [122]:
book_title

[Index(['What to Expect When You're Expecting (Revised Edition)',
        'Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))',
        'Chicken Soup for the Soul (Chicken Soup for the Soul)', 'Rising Tides',
        'The Lost Boy: A Foster Child's Search for the Love of a Family',
        'Men Are from Mars, Women Are from Venus: A Practical Guide for Improving Communication and Getting What You Want in Your Relationships'],
       dtype='object', name='title')]

In [123]:
ids_index = []
for name in book_title[0]: 
    ids = np.where(final_rating['title'] == name)[0][0]
    ids_index.append(ids)

In [124]:
ids_index

[48, 50, 49, 32, 150, 10]

In [125]:
for idx in ids_index:
    url = final_rating.iloc[idx]['image_url']
    print(url)

http://images.amazon.com/images/P/089480829X.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/1558744150.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/155874262X.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/051512317X.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/1558745157.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/006016848X.01.LZZZZZZZ.jpg

In [126]:
import pickle
pickle.dump(model,open('artifacts/model.pkl','wb'))
pickle.dump(book_title,open('artifacts/book_names.pkl','wb'))
pickle.dump(final_rating,open('artifacts/final_rating.pkl','wb'))
pickle.dump(book_pivot,open('artifacts/book_pivot.pkl','wb'))

Testing Model

In [127]:
def recommend_book(book_title):
    book_id = np.where(book_pivot.index == book_title)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6 )
    
    for i in range(len(suggestion)):
            books = book_pivot.index[suggestion[i]]
            for j in books:
                if j == book_title:
                    print(f"You searched '{book_title}'\n")
                    print("The suggestion books are: \n")
                else:
                    print(j)

In [128]:
book_title = "Flesh and Blood"
recommend_book(book_title)

You searched 'Flesh and Blood'

The suggestion books are:

Dreamcatcher
The Clinic (Alex Delaware Novels (Paperback))
The Kiss
Call of the Wild
Bag of Bones